* {
    box-sizing: border-box;
}

body {
    background-color: #efeee7;
    font-family: "Georgia", 'Times New Roman',
    Times, serif;
    color: #333333;
    font-size:20px;
}

#animal-button {
    background-color: #4CAF50; 
    border: 3px solid #7a0b7a;
    border-radius: 12px;
    color: white;
    height: 40px;
    margin: 2px;
}

.animalResults {
    display: inline-block;
    margin: 10px;
}

#images {
    float: left;
    padding: 20px;
    width: 110%
}

#image-input {
    height: 40px;
}

label {
    font-size: 18px;
}

#add-animal {
    background-color: white; 
    border: 3px solid #7a0b7a;
    border-radius: 12px;
    color: black;
    height: 40px;
    margin-left: 4px;
}

#add-animal:hover {
    background-color: #4CAF50;
    color: white;
}

.container {
   float: left;
} 
