* {
    box-sizing: border-box;
}

body {
    background-color: #efeee7;
    font-family: "Georgia", 'Times New Roman',
    Times, serif;
    color: #333333;
    font-size:20px;
}

/* .btn {
    background-color: #4CAF50; 
    border: 6px solid #7a0b7a;
    border-radius: 12px;
    color: white;
    height: 40px;
    margin: 2px;
} */

#animal-button {
    background-color: #4CAF50; 
    border: 3px solid #7a0b7a;
    border-radius: 12px;
    color: white;
    height: 40px;
    margin: 2px;
}

.animalResults {
    display: inline-block;
    margin: 10px;
}

#images {
    float: left;
    padding: 20px;
}
#image-input {
    height: 40px;
}
label {
    font-size: 18px;
}
#add-animal {
    background-color: #4CAF50; 
    border: 3px solid #7a0b7a;
    border-radius: 12px;
    color: black;
    height: 40px;
    margin-left: 4px;
    /* margin: 2px; */
    /* margin-top: 10px; */
}
.container {
   float: left;
} 
